<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Multiservicio</servlet-name>
		<servlet-class>cerdo.unsa.MultiservicioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Multiservicio</servlet-name>
		<url-pattern>/multiservicio</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Registrar</servlet-name>
		<servlet-class>cerdo.unsa.Registrar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrar</servlet-name>
		<url-pattern>/registrar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Cambio</servlet-name>
		<servlet-class>cerdo.unsa.Cambio</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cambio</servlet-name>
		<url-pattern>/cambio</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Cambioc</servlet-name>
		<servlet-class>cerdo.unsa.Cambioc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cambioc</servlet-name>
		<url-pattern>/cambioc</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Enviar</servlet-name>
		<servlet-class>cerdo.unsa.Enviar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Enviar</servlet-name>
		<url-pattern>/enviar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControlServlet</servlet-name>
		<servlet-class>cerdo.unsa.ControlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlServlet</servlet-name>
		<url-pattern>/controlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Olvide</servlet-name>
		<servlet-class>cerdo.unsa.Olvide</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Olvide</servlet-name>
		<url-pattern>/olvide</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>HacerPedido</servlet-name>
		<servlet-class>cerdo.unsa.HacerPedido</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HacerPedido</servlet-name>
		<url-pattern>/hacerPedido</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Oferta</servlet-name>
		<servlet-class>cerdo.unsa.Oferta</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Oferta</servlet-name>
		<url-pattern>/oferta</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NoOferta</servlet-name>
		<servlet-class>cerdo.unsa.NoOferta</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoOferta</servlet-name>
		<url-pattern>/noOferta</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MisEntregas</servlet-name>
		<servlet-class>cerdo.unsa.MisEntregas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MisEntregas</servlet-name>
		<url-pattern>/misEntregas</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Visita</servlet-name>
		<servlet-class>cerdo.unsa.Visita</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Visita</servlet-name>
		<url-pattern>/visita</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Votar</servlet-name>
		<servlet-class>cerdo.unsa.Votar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Votar</servlet-name>
		<url-pattern>/votar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Inicio</servlet-name>
		<servlet-class>cerdo.unsa.Inicio</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inicio</servlet-name>
		<url-pattern>/inicio</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Mandar</servlet-name>
		<servlet-class>cerdo.unsa.Mandar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mandar</servlet-name>
		<url-pattern>/mandar</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Cambiar</servlet-name>
		<servlet-class>cerdo.unsa.Cambiar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cambiar</servlet-name>
		<url-pattern>/cambiar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Contrasena</servlet-name>
		<servlet-class>cerdo.unsa.Contrasena</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contrasena</servlet-name>
		<url-pattern>/contrasena</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Reclamo</servlet-name>
		<servlet-class>cerdo.unsa.Reclamo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reclamo</servlet-name>
		<url-pattern>/reclamo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Actualizar</servlet-name>
		<servlet-class>cerdo.unsa.Actualizar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Actualizar</servlet-name>
		<url-pattern>/actualizar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConfirmarPedido</servlet-name>
		<servlet-class>cerdo.unsa.ConfirmarPedido</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmarPedido</servlet-name>
		<url-pattern>/confirmarPedido</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Denegado</servlet-name>
		<servlet-class>cerdo.unsa.Denegado</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Denegado</servlet-name>
		<url-pattern>/denegado</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Borrarcu</servlet-name>
		<servlet-class>cerdo.unsa.Borrarcu</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Borrarcu</servlet-name>
		<url-pattern>/borrarcu</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Borrarc</servlet-name>
		<servlet-class>cerdo.unsa.Borrarc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Borrarc</servlet-name>
		<url-pattern>/borrarc</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Borrarp</servlet-name>
		<servlet-class>cerdo.unsa.Borrarp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Borrarp</servlet-name>
		<url-pattern>/borrarp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Borrarip</servlet-name>
		<servlet-class>cerdo.unsa.Borrarip</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Borrarip</servlet-name>
		<url-pattern>/borrarip</url-pattern>
	</servlet-mapping>
	
	
	
	
		<servlet>
		<servlet-name>Contactanos</servlet-name>
		<servlet-class>cerdo.unsa.Contactanos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contactanos</servlet-name>
		<url-pattern>/contactanos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VentanaSesion</servlet-name>
		<servlet-class>cerdo.unsa.VentanaSesion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VentanaSesion</servlet-name>
		<url-pattern>/ventanaSesion</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>cerdo.unsa.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>cerdo.unsa.Serve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Sesion</servlet-name>
		<servlet-class>cerdo.unsa.Sesion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sesion</servlet-name>
		<url-pattern>/sesion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Currilulum</servlet-name>
		<servlet-class>cerdo.unsa.Currilulum</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Currilulum</servlet-name>
		<url-pattern>/currilulum</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>GuardarCurric</servlet-name>
		<servlet-class>cerdo.unsa.GuardarCurric</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuardarCurric</servlet-name>
		<url-pattern>/guardarCurric</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Postula</servlet-name>
		<servlet-class>cerdo.unsa.Postula</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Postula</servlet-name>
		<url-pattern>/postula</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Pedidos</servlet-name>
		<servlet-class>cerdo.unsa.Pedidos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pedidos</servlet-name>
		<url-pattern>/pedidos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Trabajo</servlet-name>
		<servlet-class>cerdo.unsa.Trabajo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trabajo</servlet-name>
		<url-pattern>/trabajo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Comentario</servlet-name>
		<servlet-class>cerdo.unsa.Comentario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comentario</servlet-name>
		<url-pattern>/comentario</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Principal</servlet-name>
		<servlet-class>cerdo.unsa.Principal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Principal</servlet-name>
		<url-pattern>/principal</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PermisoD</servlet-name>
		<servlet-class>cerdo.unsa.PermisoD</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PermisoD</servlet-name>
		<url-pattern>/permisod</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PermisoE</servlet-name>
		<servlet-class>cerdo.unsa.PermisoE</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PermisoE</servlet-name>
		<url-pattern>/permisoe</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Cerrar</servlet-name>
		<servlet-class>cerdo.unsa.Cerrar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cerrar</servlet-name>
		<url-pattern>/cerrar</url-pattern>
	</servlet-mapping>
	
	
	
		<servlet>
		<servlet-name>Save</servlet-name>
		<servlet-class>cerdo.unsa.Save</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Save</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Crear</servlet-name>
		<servlet-class>cerdo.unsa.Crear</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Crear</servlet-name>
		<url-pattern>/crear</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Borrar</servlet-name>
		<servlet-class>cerdo.unsa.Borrar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Borrar</servlet-name>
		<url-pattern>/Borrar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Carnes</servlet-name>
		<servlet-class>cerdo.unsa.Carnes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Carnes</servlet-name>
		<url-pattern>/carnes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Embutidos</servlet-name>
		<servlet-class>cerdo.unsa.Embutidos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Embutidos</servlet-name>
		<url-pattern>/embutidos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Iniciar</servlet-name>
		<servlet-class>cerdo.unsa.Iniciar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Iniciar</servlet-name>
		<url-pattern>/iniciar</url-pattern>
	</servlet-mapping>
	
	
		<servlet>
		<servlet-name>Save</servlet-name>
		<servlet-class>cerdo.unsa.Save</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Save</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>cerdo.unsa.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Codigo</servlet-name>
		<servlet-class>cerdo.unsa.Codigo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Codigo</servlet-name>
		<url-pattern>/codigo</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Comentarios</servlet-name>
		<servlet-class>cerdo.unsa.Comentarios</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comentarios</servlet-name>
		<url-pattern>/comentarios</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Comentario</servlet-name>
		<servlet-class>cerdo.unsa.Comentario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comentario</servlet-name>
		<url-pattern>/comentario</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>inicio</welcome-file>
	</welcome-file-list>
</web-app>