@CHARSET "UTF-8";

#header, #topbar, #boton {
  display: none !important;
}

#scrollTabla{
	height:260px;
	width:800px;
	border: 4px solid #0066FF;
    padding: 20px;
 	clear: left;
}

#reportesTabla{
	padding: 20px;
 	clear: left;
	color:black;
}

#reportesTabla tr td.usil{
	color: black;
}

#detalles tr.main{
	color: black;
}