

#scrollTabla{
	height:260px;
	width:800px;
	top:45%;
	left:7%;
}
#reportesTabla{
	top:120px;
	font-size:10px;
	height:210px;
	top:0;
	width:800px;
	color:black;
	background-color:white;
}
#reportesTabla tr{
	border:1px solid gray;
}
#reportesTabla tr td.usil{
	background-color:#7094B7;
	color:white;
	border:1px solid gray;
}
#reportesTabla tr td.nombre{
	border:0px solid;
	font-size:16px;
}
#reportesTabla td{
	border-bottom: navy solid thin;
	border-top: none;
	border-left: none;
	border-right: navy solid thin;
}
#reportesTabla td.last{
	border:0px solid;
	font-size:12px;
}
#reportesTabla td.subtitle{
	border:0px solid;
}
#reportesTabla td.left{
	border:0px solid;
}
#empBoleta{
	width:675px;
}
#detalles{
	position:relative;
	width:770px;
	top:2%;
	left:2%;
	border:2px solid gray;
	font-size:10px;
	color:black;
	background-color:#E0FFFF;
}
#detalles tr{
	border:1px solid gray;
}
#detalles tr.main{
	border:1px solid black;
	color:white;
	background-color:#244683;
}
#detalles td{
	border:1px solid gray;
}
